<div class="slick-carousel">
    <div class="homepage-slide homepage-slide-american-dream">
        <div class="album-cover-container">
          {% include playlist.html songs=site.data.playlist.songs %}
        </div>
    </div>
    <div class="homepage-slide homepage-slide-great-divide">
        <div class="album-cover-container">
          {% include playlist.html songs=site.data.great-divide-playlist.songs %}
        </div>
    </div>
    <div class="homepage-slide homepage-slide-grizzly-derringer">
        <div class="album-cover-container">
          {% include playlist.html songs=site.data.gd-playlist.songs %}
        </div>
    </div>
</div>
