<div class="slick-carousel">
    <div class="homepage-slide homepage-slide-american-dream">
        <div data-playlist-id="american_dream" class="album-cover-container">
          {% include playlist.html %}
        </div>
    </div>
    <div class="homepage-slide homepage-slide-aloha">
        <div data-playlist-id="aloha" class="album-cover-container">
          {% include playlist.html %}
        </div>
    </div>
    <div class="homepage-slide homepage-slide-great-divide">
      <div data-playlist-id="great_divide" class="album-cover-container">
          {% include playlist.html %}
        </div>
    </div>
    <div class="homepage-slide homepage-slide-grizzly-derringer">
      <div data-playlist-id="grizzly_derringer" class="album-cover-container">
          {% include playlist.html %}
        </div>
    </div>
</div>
