<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script
  type="text/javascript"
  src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript">
  $(function () {
    "use strict";

    +(function setUpPlayer() {
      var playlists = {
        grizzly_derringer: {
          trackIndex: 0,
          tracks: [
            {
              title: "BMF",
              duration: "4:31",
              url:
                "https://grizzlyderringer.s3.amazonaws.com/grizzly_derringer/01+BMF.mp3",
            },
            {
              title: "Golden Place",
              duration: "3:31",
              url:
                "https://grizzlyderringer.s3.amazonaws.com/grizzly_derringer/02+Golden+Place.mp3",
            },
            {
              title: "Transmissions",
              duration: "3:34",
              url:
                "https://grizzlyderringer.s3.amazonaws.com/grizzly_derringer/03+Transmissions.mp3",
            },
            {
              title: "Nothing Again",
              duration: "3:44",
              url:
                "https://grizzlyderringer.s3.amazonaws.com/grizzly_derringer/04+Nothing+Again.mp3",
            },
            {
              title: "H.O.T.P.B",
              duration: "3:09",
              url:
                "https://grizzlyderringer.s3.amazonaws.com/grizzly_derringer/05+House+Of+The+Pissing+Bum.mp3",
            },
            {
              title: "Loneliest Coast",
              duration: "4:13",
              url:
                "https://grizzlyderringer.s3.amazonaws.com/grizzly_derringer/06+Loneliest+Coast.mp3",
            },
            {
              title: "Mexicali",
              duration: "4:13",
              url:
                "https://grizzlyderringer.s3.amazonaws.com/grizzly_derringer/07+Mexicali.mp3",
            },
          ],
        },
        american_dream: {
          trackIndex: 0,
          tracks: [
            {
              title: "Tax and the Man",
              duration: "4:31",
              url:
                "https://grizzlyderringer.s3.amazonaws.com/Tax_and_the_Man.mp3",
            },
            {
              title: "Sometimes",
              duration: "3:31",
              url: "https://grizzlyderringer.s3.amazonaws.com/Sometimes.mp3",
            },
            {
              title: "Tick Tick Tock",
              duration: "3:34",
              url:
                "https://grizzlyderringer.s3.amazonaws.com/Tick_Tick_Tock.mp3",
            },
            {
              title: "Red West",
              duration: "3:44",
              url: "https://grizzlyderringer.s3.amazonaws.com/Red_West.mp3",
            },
            {
              title: "El Camino",
              duration: "3:09",
              url: "https://grizzlyderringer.s3.amazonaws.com/El_Camino.mp3",
            },
            {
              title: "American Dream",
              duration: "4:13",
              url:
                "https://grizzlyderringer.s3.amazonaws.com/American_Dream.mp3",
            },
          ],
        },
        great_divide: {
          trackIndex: 0,
          tracks: [
            {
              title: "The Great Divide",
              duration: "5:20",
              url:
                "https://grizzlyderringer.s3-us-west-1.amazonaws.com/the-great-divide.mp3",
            },
          ],
        },
        aloha: {
          trackIndex: 0,
          tracks: [
            {
              title: "Waves Between the Lanes",
              duration: "4:27",
              url: "https://grizzlyderringer.s3-us-west-1.amazonaws.com/Waves+Between+the+Lanes.mp3"
            },
            {
              title: "Brosis",
              duration: "3:37",
              url: "https://grizzlyderringer.s3-us-west-1.amazonaws.com/Brosis.mp3"
            },
            {
              title: "Long Live the King",
              duration: "4:32",
              url: "https://grizzlyderringer.s3-us-west-1.amazonaws.com/Long+Live+the+King.mp3"
            },
            {
              title: "Downside Up",
              duration: "6:30",
              url: "https://grizzlyderringer.s3-us-west-1.amazonaws.com/Downside+Up.mp3"
            }
          ]
        }
      };
      var activePlaylistId = "";
      var playBtnClass = ".cover-player--controls__play";
      var pauseBtnClass = ".cover-player--controls__pause";
      var fwdBtnClass = ".cover-player--controls__fwd";
      var bkwdBtnClass = ".cover-player--controls__bkwd";
      var controlsContainerClass = ".album-cover-container";
      var $controlsContainer = $(controlsContainerClass);
      var $playBtn = $(playBtnClass);
      var $pauseBtn = $(pauseBtnClass);
      var $fwdBtn = $(fwdBtnClass);
      var $bkwdBtn = $(bkwdBtnClass);
      var $jplayer = $(".player").jPlayer({
        supplied: "mp3",
        ended: onEnded,
      });

      setBindings();

      function setActivePlaylist(id) {
        activePlaylistId = id;
      }

      function getActivePlaylist() {
        return activePlaylistId.length ? playlists[activePlaylistId] : null;
      }

      function getTrack(playlist) {
        return playlist.tracks[playlist.trackIndex].url;
      }

      function activePlaylistIsAtBeginning() {
        var playlist = getActivePlaylist()
        return playlist.trackIndex === 0;
      }

      function activePlaylistIsAtEnd() {
        var playlist = getActivePlaylist()
        return playlist.trackIndex >= playlist.tracks.length - 1;
      }

      function setPlayingUI($ctx) {
        var $container = $ctx.closest(controlsContainerClass);
        var playlist = getActivePlaylist();
        $playBtn.removeClass("hidden");
        $pauseBtn.addClass("hidden");
        $fwdBtn.addClass("hidden").removeClass("disabled");
        $bkwdBtn.addClass("hidden").removeClass("disabled");
        $container.find(playBtnClass).addClass("hidden");
        $container.find(pauseBtnClass).removeClass("hidden");
        $container.find(bkwdBtnClass).removeClass("hidden");
        $container.find(fwdBtnClass).removeClass("hidden");

        if (activePlaylistIsAtBeginning()) {
          $container.find(bkwdBtnClass).addClass("disabled");
        }

        if (activePlaylistIsAtEnd()) {
          $container.find(fwdBtnClass).addClass("disabled");
        }
      }

      function setPausedUI() {
        $fwdBtn.addClass("hidden");
        $bkwdBtn.addClass("hidden");
        $pauseBtn.addClass("hidden");
        $playBtn.removeClass("hidden");
      }

      function onPlayButtonClick(e) {
        e.stopPropagation();
        e.preventDefault();
        var $this = $(this);
        var $container = $this.closest(controlsContainerClass);
        setActivePlaylist($container.attr("data-playlist-id"));
        playTrack(getTrack(getActivePlaylist()));
        setPlayingUI($this);
        setBindings();
      }

      function onPauseButtonClick(e) {
        e.stopPropagation();
        e.preventDefault();
        $jplayer.jPlayer("pause");
        setPausedUI();
        setBindings();
      }

      function onNextButtonClick(e) {
        e.stopPropagation();
        e.preventDefault();
        goToNext();
        setPlayingUI($(this));
      }

      function onPrevButtonClick(e) {
        e.stopPropagation();
        e.preventDefault();
        goToPrev();
        setPlayingUI($(this));
      }

      function goToNext() {
        var playlist = getActivePlaylist();
        if (activePlaylistIsAtEnd()) return;
        playlist.trackIndex++;
        playTrack(getTrack(playlist));
        setBindings();
      }

      function goToPrev() {
        if (activePlaylistIsAtBeginning()) return;
        var playlist = getActivePlaylist();
        playlist.trackIndex--;
        playTrack(getTrack(playlist));
        setBindings();
      }

      function onEnded() {
        goToNext();
      }

      function setBindings() {
        $pauseBtn.off().on("click", onPauseButtonClick);
        $playBtn.off().on("click", onPlayButtonClick);
        $fwdBtn.off().on("click", onNextButtonClick);
        $bkwdBtn.off().on("click", onPrevButtonClick);
      }

      function playTrack(href) {
        $jplayer
          .jPlayer("setMedia", {
            mp3: href,
          })
          .jPlayer("play");
      }
    })();

    +(function setUpCarousel() {
      $(".slick-carousel").slick({
        centerMode: false,
        centerPadding: "60px",
        slidesToShow: 4,
        focusOnSelect: true,
        arrows: false,
        speed: 1000,
        infinite: true,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 1200,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: "40px",
              slidesToShow: 1,
              mobileFirst: true,
              variableWidth: true,
              variableHeight: true,
              initialSlide: 1,
            },
          },
        ],
      });
    })();

    +(function getUpcomingEvents() {
      const url =
        "https://api.bandsintown.com/artists/Grizzly%20Derringer/events.json?api_version=2.0&app_id=js_grizzlyderringer.com&extended=true&widget_version=1.5.2&callback=bit_jsonp1484343130858";
      $.get(
        url,
        function (data) {
          if (!data.length) return;

          var html = "";
          for (var i = 0; i < data.length; i++) {
            const show = data[i];
            const venue = show.venue;
            const datetime = new Date(show.datetime);
            const month = [
              "Jan",
              "Feb",
              "Mar",
              "Apr",
              "May",
              "Jun",
              "Jul",
              "Aug",
              "Sep",
              "Oct",
              "Nov",
              "Dec",
            ][datetime.getMonth()];
            const date = datetime.getDate();
            html += "<tr>";
            html += "<td>";
            html += month + " " + date + " - " + venue.name;
            html += "</br>";
            html += "<strong>" + show.formatted_location + "</strong>";
            html += "</td><td>";
            html +=
              '<a href="' +
              show.facebook_rsvp_url +
              '" class="btn btn-success btn-xs">RSVP</a>';
            html += "</td></tr>";
            if (data.length > 1) {
              html += '<tr><td colspan="2"><hr/></td></tr>';
            }
          }
          $("#upcoming_shows").html(html);
        },
        "jsonp"
      );
    })();

    +(function setUpNewsFeedLinks() {
      $(".scroll-to-link").on("click", function (e) {
        e.preventDefault();
        const isHome =
          window.location.pathname === '{{ "/" | prepend: site.baseurl }}';
        if (!isHome) {
          return (window.location = '{{ "/#news" | prepend: site.baseurl }}');
        }
        const target = $(this).attr("href");
        $("html, body").animate(
          { scrollTop: $(target).offset().top - 50 },
          750
        );
      });
    })();
  });
</script>
