<h3 class="section-head"><i class="fa fa-diamond" aria-hidden="true"></i> Upcoming Shows</h3>
<table id="upcoming_shows">
  <!--upcoming shows here-->
  <tr>
    <td>No upcoming shows.</td>
  </tr>
</table>

<h3 class="section-head"><i class="fa fa-diamond" aria-hidden="true"></i> Limited Edition Vinyl!</h3>
<p>Custom pressed courtesy of the wonderful folks over at Capsule Labs. We’re talking audiophile quality virgin vinyl with no
  compromises. This is a limited run so once supplies are gone thats it. Order yours now.</p>

<img src="{{ /assets/img/vinyl_pressing.png | prepend: site.baseurl }}" alt="" class="img-responsive">

<a href="{{ /vinyl.html | prepend: site.baseurl }}" class="btn btn-block btn-primary">Order Yours Now</a>

<h3 class="section-head"><i class="fa fa-diamond" aria-hidden="true"></i> Latest From Instagram</h3>
<div class="instafeed"></div>