.btn {
  border-radius: 0;
  text-transform: uppercase;
}

.btn-success {
  background-color: transparent;
  border: solid 1px $neon-blood; 
  color: $neon-blood; 
}
.btn-success:hover {
  background-color: transparent;
  border-color: darken($neon-blood, 10%);
  color: darken($neon-blood, 10%);
}

.btn-primary {
  background-color: $turquoise;
  border-color: darken($turquoise, 10%);
  color: $offwhite;
}
.btn-primary:hover {
  background-color: darken($turquoise, 10%);
  border-color: darken($turquoise, 15%);
  color: $offwhite;
}