.header.navbar-inverse {
  background-color: $night;
  border-color: lighten($night, 10%);
}

.navbar-inverse .navbar-nav>li>a {
  color: $turquoise;
  text-transform: uppercase;
  font-family: 'Vow'
}

.navbar-inverse .navbar-brand {
  color: $neon-blood;
  text-transform: uppercase;
  font-family: 'Knockout-92UltmtCruiserwt';
  font-weight: bold;
  font-size: 22px;
  @include breakpoint(sm){ 
    font-size: 25px;
  }
}