$progress-bar-height: 35px;
.jp-audio{
  display: none;
  position: fixed;
  top: 51px;
  width: 100%;
  left: 0;
  z-index: 100;
  &.is-playing{
    display: block;
  }
}

.jp-progress{
  border-top: #fff 1px solid;
  height: $progress-bar-height;  
  background-color: $night; 
  
}

.jp-play-bar{
  background: linear-gradient(to left, darken($neon-blood, 7), $turquoise); ;
  height: $progress-bar-height;
}

.jp-current-time{
  position: absolute;
  left: 10px;
  bottom: 7px;
}

.jp-duration{
  position: absolute;
  right: 10px;
  bottom: 7px;
}

.homepage-slide-american-dream{
  .jp-play-bar{
    background: linear-gradient(to left, darken($pink, 7), $blue);
    height: $progress-bar-height;
  }

  .jp-progress{
    background-color: rgba($pink, 0.3);
  }
}

.homepage-slide-grizzly-derringer{
  .jp-play-bar{
    background: darken($orange, 7);
    height: $progress-bar-height;
  }

  .jp-current-time, .jp-duration{
    color: $tan;
  }
  .jp-progress{
    background-color: rgba($brown, 0.8);
  }
}
