.slick-carousel {
  margin-top: 2.5em;
  margin-bottom: 1em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.slick-carousel.slick-initialized {
  visibility: visible;
  opacity: 1;
}

.homepage-slide .album-cover-container{
  padding: 0;
  width: 300px;
  height: 300px;
  margin: auto;
}

.homepage-slide-great-divide .album-cover-container {
  background: transparent url("../assets/img/the-great-divide-cover.jpg") no-repeat center center;
  background-size: cover;
}

.homepage-slide-american-dream .album-cover-container{
  background: transparent url("../assets/img/american_dream_cover.jpg") no-repeat center center;
  background-size: contain;
}

.homepage-slide-grizzly-derringer .album-cover-container{
  background: transparent url("../assets/img/gd_cover.png") no-repeat 0 0;
  background-size: contain;
}
