.slick-carousel {
  margin-top: 2.75em;
  margin-bottom: 1em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.slick-carousel.slick-initialized {
  visibility: visible;
  opacity: 1;
}

.homepage-slide .album-cover-container {
  padding: 0;
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  align-content: bottom;
  justify-content: flex-end;
  vertical-align: middle;
  flex-direction: column;

  &:hover {
    .cover-player--controls {
      visibility: visible;
      opacity: 1;
    }
  }

  .cover-player {
    margin: auto;
    &--controls {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease;
      display: flex;
      color: $offwhite;

      &__bkwd,
      &__fwd,
      &__play,
      &__pause {
        background: rgba(0, 0, 0, 0.65);
        color: $offwhite;
        margin: auto;
        border: solid 2px $offwhite;
        border-radius: 50%;
        display: flex;
        align-content: center;
        justify-content: center;
        &.disabled {
          color: rgba(255, 255, 255, 0.45);
        }
      }

      &__play,
      &__pause {
        font-size: 1.75em;
        height: 50px;
        width: 50px;
        margin: auto 15px;
        .fa-play,
        .fa-pause {
          font-size: 1em;
          margin: auto;
        }

        .fa-play {
          position: relative;
          left: 3px;
        }
      }

      &__bkwd,
      &__fwd {
        font-size: 1.25em;
        height: 35px;
        width: 35px;
        .fa-step-forward,
        .fa-step-backward {
          margin: auto;
        }
      }
    }
  }
}

.homepage-slide-aloha .album-cover-container {
  background: transparent url("../assets/img/aloha.jpg")
    no-repeat center center;
  background-size: cover;
}

.homepage-slide-great-divide .album-cover-container {
  background: transparent url("../assets/img/the-great-divide-cover.jpg")
    no-repeat center center;
  background-size: cover;
}

.homepage-slide-american-dream .album-cover-container {
  background: transparent url("../assets/img/american_dream_cover.jpg")
    no-repeat center center;
  background-size: contain;
}

.homepage-slide-grizzly-derringer .album-cover-container {
  background: transparent url("../assets/img/gd_cover.png") no-repeat 0 0;
  background-size: contain;
}
