//AMERICAN DREAM ONEPAGE COLOR PALETTE
$yellow : #FEEF5E;
$pink : #FC2698;
$blue : #00ffff;

//GRIZZLY DERRINGER ONEPAGE COLOR PALETTE
$dark-brown: #643914;
$brown : #8B321C;
$light-brown: #87602E;
$tan : #FDDAAD;
$orange: #E18143;


//
$turquoise: #7EC0E4;
$night: #14103B;
$turquoise: #7EC0E4;
$offwhite: #FFFFFA;
$neon-blood: #F02A71;