<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}

    <div class="page-content">
        <div class="wrapper">
            {% include home_carousel.html %}

            {% include player.html %}
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-8">  
                <h3 class="section-head"><i class="fa fa-diamond" aria-hidden="true"></i> News &amp; Updates</h3>
                {% for post in site.posts %}
                    {{ post.content }}
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h3 class="section-head"><i class="fa fa-diamond" aria-hidden="true"></i> Upcoming Shows</h3>                
                <table id="upcoming_shows">
                    <!--upcoming shows here-->
                    <tr><td>No upcoming shows.</td></tr>
                </table>

                <h3 class="section-head"><i class="fa fa-diamond" aria-hidden="true"></i> Limited Edition Vinyl!</h3>
                <p>Custom pressed courtesy of the wonderful folks over at Capsule Labs. We’re talking audiophile quality virgin vinyl with no compromises. This is a limited run so once supplies are gone thats it. Order yours now.</p>
            </div>            
        </div>

    </div>
    <!-- /.container -->

    {% include scripts.html %}

</body>

</html>