<!DOCTYPE html>
<html>

{% include head.html %}

<body class="layout-store">
    {% include header.html %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">            
            <div class="col-md-8">
                {{ content }}
            </div>       
            <div class="col-md-4">
                {% include sidebar.html %}
            </div>                 
        </div>

    </div>
    <!-- /.container -->
    {% include footer.html %}
    {% include scripts.html %}
    <script src="https://cdn.sq-api.com/market/embed.js" id="sq-embed-js" charset="utf-8"></script>
</body>

</html>